<a href="https://colab.research.google.com/github/Fauzulazkia462/Kelas-Selasa-Malam-SMT-7/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Variabel

a=2 # integer
hewan = "Gajah" #String
b = 'A' # di python ini string tp di C in char
c = True #Boolean
e = 2.0 #float, gda namanya "double", smua desimal namanya float
f = [] # list / array
g = {} #dictionary
h = () #tuple

In [ ]:
#printing

print (hewan)
print ("Singa")
print (2)
print (2+3)
print (True)
print ("Yeah")

print ("Nama Hewannya adalah " + hewan)
# print ("Nama Hewannya adalah {}".format(hewan) )  #nilai hewan masuk ke dalam dict
print ("Nama : {}, Tempat Tinggal : {}, Umur : {}".format("Pojul", "Aceh", "19"))

Nama_siswa = ["Pojul", "Bereh", "NyanBan"]
print(Nama_siswa[0])
print (Nama_siswa[0:2])


Nama_siswa.append(2)  #Tambah masukin nnilai '2' ke list/array

Gajah
Singa
2
5
True
Yeah
Nama Hewannya adalah Gajah
Nama : Pojul, Tempat Tinggal : Aceh, Umur : 19
Pojul
['Pojul', 'Bereh']

In [ ]:


print ("Hobi saya adalah : {}".format("Berenang"))

Hobi saya adalah : Berenang